html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
}

header{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(5,1fr);
  width: 100vw;
  height: 95vh;
  background-color: lightcyan;
}
#picture-logo{
  grid-column: 2;
  grid-row: 1;
  width:40vw;
  height: 30vh;
  margin: 1vh auto;
  border-radius: 10px;
}
#search-prompt{
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}
#search-image{
  grid-column: 2;
  grid-row: 3;
  margin: auto;
}
#search-image img{
  margin: 1vh auto;
}
#search-image p {
  text-align: center;
}
#search-bar{
  grid-column: 2;
  grid-row: 4;
  margin: auto;
}
#select-text {
  visibility: hidden;
}
hr{
  margin: 20px;
}
#move-explanation{
  text-align:center;
  background: linear-gradient(to right, #8e9eab, #eef2f3);
}
main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4,1fr);
  width: 100vw;
  height: 85vh;
}

#player-user {
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  visibility: hidden;
  grid-column: 1/4;
  grid-row: 3;
}

#playerUI-container{
  margin: auto;
  margin-left: 10px;
  width: 20rem;
  height: 9rem;
  border: 2px solid grey;
}
#playerUI-container p {
  margin: 1rem 1rem;
  font-size: 20px;
}
#playerHP-text {
  display: inline;
}
#playerHP{
  display: inline-block;
  margin: 0;
}
#playerImage-container img{
  border: 2px solid black;
  border-radius: 100%;
}

#outer-container {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
  visibility: hidden;
}
/*************************** CITATION ***************************/
/********* https://codepen.io/blakeworsley/pen/pbdqBK ***********/
/* FROM HERE TO NEXT COMMENT IS CSS FROM AN CODEPEN FOR A LOGO */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.ball {
  height: 100px;
  width: 100px;  
  border-radius: 100px;
  display: flex;
  border: 5px black solid;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#7D1827 5%, red 49%, black 5%, white 49%, #CADBD1)
}

.center, .center2 {
  background: white;
  border: 3px black solid;
}
.center {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
}
.center2 {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-image: radial-gradient(white 60%, #757F7A)
}

.ball:hover{
  transition-duration: .2s;
  transform: rotate(5deg);
/*   transform: rotate(0deg); */
}
/* FROM HERE TO PREVIOUS LAST COMMENT IS CSS FROM AN CODEPEN FOR A LOGO */
/********* https://codepen.io/blakeworsley/pen/pbdqBK ***********/
/*************************** CITATION ***************************/
#moveused-text{
  grid-column: 2 / 5;
  grid-row: 2;
  text-align: center;
  margin: auto;
}

#computerHP-text{
  display:inline;
}
#computerHP{
  display: inline-block;
  margin: 0px;
}
#computer-user {
  margin: auto;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  grid-column: 3 /span 5;
  grid-row: 1;
}
#computerUI-container{
  margin: auto;
  margin-right: 10px;
  width: 20rem;
  height: 9rem;
  border: 2px solid grey;
}
#computerUI-container p {
  margin: 1rem 1rem;
  font-size: 20px;
}
#computerImage-container img{
  border: 2px solid black;
  border-radius: 100%;
}
#action-box{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 3fr 3fr;
  grid-column: 2 / 5;
  grid-row: 4;
  visibility: hidden;
  height: 40vh;
  text-align: center;
  border: 3px solid black;
  background: linear-gradient(to bottom, #e0eafc, #cfdef3);
}
#action-text{
  grid-column: 1 /span 2;
}
#move1-container{
  margin: auto;
}
#move-1{
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  padding: 3em 12em;
  border: 5px solid black;
  border-radius: 6px;
}
#move2-container{
  margin: auto;
}
#move-2{
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  padding: 3em 12em;
  border: 5px solid black;
  border-radius: 6px;
}
#move3-container{
  margin: auto;
}
#move-3{
  grid-column: 1;
  grid-row: 3;
  margin: 0;
  padding: 3em 12em;
  border: 5px solid black;
  border-radius: 6px;
}
#move4-container{
  margin: auto;
}
#move-4{
  grid-column: 2;
  grid-row: 3;
  margin: 0;
  padding: 3em 12em;
  border: 5px solid black;
  border-radius: 6px;
}
@media only screen and (min-width: 2560px) {
  #search-image img{
    width: 400px;
  }
  #search-image p {
    font-size: 24px;
  }
  input[type="text"]{
    font-size: 24px;
  }
  #player-search {
    padding: 25px;
    width: 25rem;
  }
  #get-player[type="submit"]{
    font-size: 24px;
  }
  #get-player{
    width: 10rem;
    height: 5rem;
  }
  #move-explanation h3,h4 {
    font-size: 24px;
  }
  #playerImage-container img{
    margin-left: 38px;
    width: 200px;
  }
  #playerUI-container{
    width: 24rem;
    height: 12rem;
  }
  #playerUI-container p {
    font-size: 28px;
  }
  #playerImage-container img{
  width: 350px;
  }
  #play-game p{
    font-size: 22px;
  }
  #computerUI-container{
    width: 24rem;
    height: 12rem;
  }
  #computerUI-container p {
    font-size: 28px;
  }
  #computerImage-container img{
  width: 350px;
  }
  #action-text {
    font-size: 22px;
  }
  #move-1{
    padding: 2em 12em;
    font-size: 22px;
  }
  #move-2{
    padding: 2em 12em;
    font-size: 22px;
  }
  #move-3{
    padding: 2em 12em;
    font-size: 22px;
  }
  #move-4{
    padding: 2em 12em;
    font-size: 22px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body{
    position: absolute;
    font-size: 16px;
  }
  #picture-logo{
    width:60vw;
  }
  header{
    grid-template-columns: 1fr 2fr 1fr;
  }
  #search-image p {
    font-size: 24px;
  }
  input[type="text"]{
    font-size: 24px;
  }
  #player-search {
    padding: 20px;
    width: 20rem;
  }
  #get-player[type="submit"]{
    font-size: 24px;
  }
  #get-player{
    width: 8rem;
    height: 4.5rem;
  }
  #move-explanation h4,h5 {
    font-size: 24px;
  }
  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1r;
    grid-template-rows: repeat(4,1fr);
    width: 100vw;
  }
  #playerImage-container img{
    margin-left: 38px;
    width: 200px;    
  }
  #outer-container{
    grid-column: 1;
  }
  #moveused-text p{
    font-size: 24px;
  }
  #computer-user{
    margin-right: 38px;
  }
  #computerImage-container img{
    width: 200px;
  }
  #action-text{
    font-size: 20px;
  }
  #move-1{
    font-size: 20px;
    padding: 2em 4em;
  }
  #move-2{
    font-size: 20px;
    padding: 2em 4em;
  }
  #move-3{
    font-size: 20px;
    padding: 2em 4em;
  }
  #move-4{
    font-size: 20px;
    padding: 2em 4em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  body{
    position: absolute;
  }
  #picture-logo{
    width:60vw;
  }
  header{
    grid-template-columns: 1fr 2fr 1fr;
  }
  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1r;
    grid-template-rows: repeat(4,1fr);
    width: 100vw;
  }
  #player-user{
    grid-column: 1 /span 5;
  }
  #playerImage-container img{
    margin-left: 38px;
    width: 200px;    
  }
  #playerUI-container {
    width: 15rem;
  }
  #outer-container{
    grid-column: 1;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .ball {
    height: 50px;
    width: 50px;  
    border-radius: 50px;
    display: flex;
    border: 5px black solid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#7D1827 5%, red 49%, black 5%, white 49%, #CADBD1)
  }
  
  .center, .center2 {
    background: white;
    border: 3px black solid;
  }
  .center {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
  }
  .center2 {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-image: radial-gradient(white 60%, #757F7A)
  }
  
  .ball:hover{
    transition-duration: .2s;
    transform: rotate(5deg);
  /*   transform: rotate(0deg); */
  }
  #computer-user{
    grid-column: 1 /span 5;
  }
  #computerUI-container{
    width: 15rem;
  }
  #computerImage-container img{
    width: 200px;
  }
  #move-1{
    padding: 1em 3em;
    margin-left: 5px;
  }
  #move-2{
    padding: 1em 3em;
    margin-right: 5px;
  }
  #move-3{
    padding: 1em 3em;
    margin-left: 5px;
  }
  #move-4{
    padding: 1em 3em;
    margin-right: 5px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  body{
    position: absolute;
  }
  #picture-logo{
    width:60vw;
  }
  header{
    grid-template-columns: 1fr 2fr 1fr;
  }

  #search-image img{
    width: 200px;
  }
  #player-form{
    width: 15rem;
  }
  main{
    grid-template-columns: 1fr 1fr 1r;
    grid-template-rows: repeat(4,1fr);
  }
  #playerUI-container{
    margin: auto;
    margin-left: 10px;
    width: 12rem;
    height: 6rem;
  }
  #playerUI-container p {
    margin: 6px;
    font-size: 16px;
  }
  #playerImage-container img{
    margin-left: 10px;
    width: 150px;
  }
  #outer-container{
    grid-column: 1;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .ball {
    height: 50px;
    width: 50px;  
    border-radius: 50px;
    display: flex;
    border: 5px black solid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#7D1827 5%, red 49%, black 5%, white 49%, #CADBD1)
  }
  
  .center, .center2 {
    background: white;
    border: 3px black solid;
  }
  .center {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
  }
  .center2 {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-image: radial-gradient(white 60%, #757F7A)
  }
  
  .ball:hover{
    transition-duration: .2s;
    transform: rotate(5deg);
  /*   transform: rotate(0deg); */
  }
  #computer-user{
    grid-column: 1 /span 5;
  }
  #computerUI-container{
    margin: auto;
    margin-right: 10px;
    width: 12rem;
    height: 6rem;
  }
  #computerUI-container p {
    margin: 6px;
    font-size: 16px;
  }
  #computerImage-container img{
    width: 150px;
  }
  #move-1{
    padding: 1em 2em;
  }
  #move-2{
    padding: 1em 2em;
  }
  #move-3{
    padding: 1em 2em;
  }
  #move-4{
    padding: 1em 2em;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  body{
    position: absolute;
  }
  #picture-logo{
    width:60vw;
  }
  #search-image img{
    width: 200px;
  }
  #player-search {
    width: 8rem;
  }
  #playerUI-container{
    width: 9rem;
    height: 6rem;
  }
  #playerUI-container p {
    font-size: 12px;
    margin: .5rem .5rem;
  }
  #playerImage-container img{
    width: 120px;
    height: 105px;
  }
  #outer-container{
    grid-column: 1;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .ball {
    height: 50px;
    width: 50px;  
    border-radius: 50px;
    display: flex;
    border: 5px black solid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#7D1827 5%, red 49%, black 5%, white 49%, #CADBD1)
  }
  
  .center, .center2 {
    background: white;
    border: 3px black solid;
  }
  .center {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
  }
  .center2 {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-image: radial-gradient(white 60%, #757F7A)
  }
  
  .ball:hover{
    transition-duration: .2s;
    transform: rotate(5deg);
  /*   transform: rotate(0deg); */
  }
  #computer-user{
    grid-column: 2 /span 5;
  }
  #computerUI-container{
    width: 9rem;
    height: 6rem;
  }
  #computerUI-container p {
    font-size: 12px;
    margin: .5rem .5rem;
  }
  #computerImage-container img{
    width: 120px;
    height: 105px;
  }
  #move-1{
    padding: 1rem 1rem;
  }
  #move-2{
    padding: 1rem 1rem;
  }
  #move-3{
    padding: 1rem 1rem;
  }
  #move-4{
    padding: 1rem 1rem;
  }
}

@media only screen and (min-width: 200px) and (max-width: 320px) {
  body{
    position: absolute;
  }
  #picture-logo{
    width:60vw;
  }
  #search-image img{
    width: 15rem;
  }
  #player-search{
    width: 6rem;
  }
  #playerUI-container{
    width: 9rem;
    height: 6rem;
  }
  #playerUI-container p{
    margin: 2px;
  }
  #playerImage-container img{
    width: 100px;
    height: 85px;
  }
  #outer-container{
    grid-column: 1;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .ball {
    height: 50px;
    width: 50px;  
    border-radius: 50px;
    display: flex;
    border: 5px black solid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#7D1827 5%, red 49%, black 5%, white 49%, #CADBD1)
  }
  
  .center, .center2 {
    background: white;
    border: 3px black solid;
  }
  .center {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
  }
  .center2 {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-image: radial-gradient(white 60%, #757F7A)
  }
  
  .ball:hover{
    transition-duration: .2s;
    transform: rotate(5deg);
  /*   transform: rotate(0deg); */
  }
  #computer-user {
    grid-column: 1 /span 5;
  }
  #computerUI-container{
    width: 9rem;
    height: 6rem;
  }
  #computerUI-container p{
    margin: 2px;
  }
  #computerImage-container img{
    width: 100px;
    height: 85px;
  }
  #move-1{
    padding: 1rem .5rem;
    margin-left: 5px;
  }
  #move-2{
    padding: 1rem .5rem;
    margin-right: 5px;
  }
  #move-3{
    padding: 1rem .5rem;
    margin-left: 5px;
  }
  #move-4{
    padding: 1rem .2rem;
    margin-right: 5px;
  }
}