html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
}
header{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(5,1fr);
  width: 100vw;
  height: 100vh;
  background-color: lightcyan;
}
#logo {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
}
#search-image{
  grid-column: 2;
  grid-row: 3;
  margin: auto;
}
#search-image p {
  text-align: center;
}
#search-bar{
  grid-column: 2;
  grid-row: 4;
  margin: auto;
}
#select-text {
  visibility: hidden;
}
hr{
  margin: 20px;
}
main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4,1fr);
  width: 100vw;
  height: 100vh;
}

#player-user {
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  visibility: hidden;
  grid-column: 1/4;
  grid-row: 3;
}
#playerUI-container{
  margin: auto;
  margin-left: 10px;
  width: 20rem;
  height: 9rem;
  border: 2px solid grey;
}
#playerUI-container p {
  margin: 1rem 1rem;
  font-size: 20px;
}
#playerHP-text {
  display: inline;
}
#playerHP{
  display: inline-block;
  margin: 0;
}
#playerImage-container img{
  border: 2px solid black;
  border-radius: 100%;
}
#computerHP-text{
  display:inline;
}
#computerHP{
  display: inline-block;
  margin: 0px;
}
#computer-user {
  margin: auto;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  grid-column: 3 /span 5;
  grid-row: 1;
}
#computerUI-container{
  margin: auto;
  margin-right: 10px;
  width: 20rem;
  height: 9rem;
  border: 2px solid grey;
}
#computerUI-container p {
  margin: 1rem 1rem;
  font-size: 20px;
}
#computerImage-container img{
  border: 2px solid black;
  border-radius: 100%;
}
#action-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 3fr 3fr;
  grid-column: 2 / 5;
  grid-row: 4;
  visibility: hidden;
  text-align: center;
}
#action-text{
  grid-column: 1 /span 2;
}
#move1-container{
  margin: auto;
}
#move-1{
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  padding: 3em 12em;
  border: 5px solid black;
  border-radius: 6px;
}
#move2-container{
  margin: auto;
}
#move-2{
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  padding: 3em 12em;
  border: 5px solid black;
  border-radius: 6px;
}
#move3-container{
  margin: auto;
}
#move-3{
  grid-column: 1;
  grid-row: 3;
  margin: 0;
  padding: 3em 12em;
  border: 5px solid black;
  border-radius: 6px;
}
#move4-container{
  margin: auto;
}
#move-4{
  grid-column: 2;
  grid-row: 3;
  margin: 0;
  padding: 3em 12em;
  border: 5px solid black;
  border-radius: 6px;
}
@media only screen and (min-width: 2560px) {
  #logo{
    font-size: 40px;
  }
  #search-image img{
    width: 450px;
  }
  #search-image p {
    font-size: 24px;
  }
  input[type="text"]{
    font-size: 24px;
  }
  #player-search {
    padding: 25px;
    width: 25rem;
  }
  #get-player[type="submit"]{
    font-size: 24px;
  }
  #get-player{
    width: 10rem;
    height: 5rem;
  }
  #playerImage-container img{
    margin-left: 38px;
    width: 200px;
  }
  #playerUI-container{
    width: 24rem;
    height: 12rem;
  }
  #playerUI-container p {
    font-size: 28px;
  }
  #playerImage-container img{
  width: 350px;
  }
  #computerUI-container{
    width: 24rem;
    height: 12rem;
  }
  #computerUI-container p {
    font-size: 28px;
  }
  #computerImage-container img{
  width: 350px;
  }
  #move-1{
    padding: 2em 12em;
    font-size: 22px;
  }
  #move-2{
    padding: 2em 12em;
    font-size: 22px;
  }
  #move-3{
    padding: 2em 12em;
    font-size: 22px;
  }
  #move-4{
    padding: 2em 12em;
    font-size: 22px;
  }
}

@media only screen and (max-width: 1024px) {
  body{
    position: absolute;
  }
  header{
    grid-template-columns: 1fr 2fr 1fr;
  }
  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1r;
    grid-template-rows: repeat(4,1fr);
    width: 100vw;
  }
  #playerImage-container img{
    margin-left: 38px;
    width: 200px;    
  }
  #computer-user{
    margin-right: 38px;
  }
  #computerImage-container img{
    width: 200px;
  }
  #move-1{
    padding: 2em 5em;
  }
  #move-2{
    padding: 2em 5em;
  }
  #move-3{
    padding: 2em 5em;
  }
  #move-4{
    padding: 2em 5em;
  }
}

@media only screen and (max-width: 768px) {
  body{
    position: absolute;
  }
  header{
    grid-template-columns: 1fr 2fr 1fr;
  }
  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1r;
    grid-template-rows: repeat(4,1fr);
    width: 100vw;
  }
  #playerImage-container img{
    margin-left: 38px;
    width: 200px;    
  }
  #computer-user{
    grid-column: 2 /span 5;
  }
  #computerImage-container img{
    width: 200px;
  }
  #move-1{
    padding: 2em 6em;
  }
  #move-2{
    padding: 2em 6em;
  }
  #move-3{
    padding: 2em 6em;
  }
  #move-4{
    padding: 2em 6em;
  }
}

@media only screen and (max-width: 425px) {
  body{
    position: absolute;
  }
  header{
    grid-template-columns: 1fr 2fr 1fr;
  }
  #player-form{
    width: 15rem;
  }
  main{
    grid-template-columns: 1fr 1fr 1r;
    grid-template-rows: repeat(4,1fr);
  }
  #playerUI-container{
    margin: auto;
    margin-left: 10px;
    width: 12rem;
    height: 6rem;
  }
  #playerUI-container p {
    margin: 6px;
    font-size: 16px;
  }
  #playerImage-container img{
    margin-left: 10px;
    width: 150px;
  }
  #computer-user{
    grid-column: 1 /span 5;
  }
  #computerUI-container{
    margin: auto;
    margin-right: 10px;
    width: 12rem;
    height: 6rem;
  }
  #computerUI-container p {
    margin: 6px;
    font-size: 16px;
  }
  #computerImage-container img{
    width: 150px;
  }
  #move-1{
    padding: 1em 2em;
  }
  #move-2{
    padding: 1em 2em;
  }
  #move-3{
    padding: 1em 2em;
  }
  #move-4{
    padding: 1em 2em;
  }
}

@media only screen and (max-width: 320px) {
  body{
    position: absolute;
  }
  #search-image img{
    width: 18rem;
  }
  #playerUI-container{
    width: 9rem;
    height: 6rem;
  }
  #playerImage-container img{
    width: 120px;
    height: 105px;
  }
  #computerUI-container{
    width: 9rem;
    height: 6rem;
  }
  #computerImage-container img{
    width: 120px;
    height: 105px;
  }
  #move-1{
    padding: 1rem 1rem;
  }
  #move-2{
    padding: 1rem 1rem;
  }
  #move-3{
    padding: 1rem 1rem;
  }
  #move-4{
    padding: 1rem 1rem;
  }
}